GRAPHXY.json
[{"id":"b4e71472.7cb4d8","type":"tab","label":"GraphXY","disabled":false,"info":""},{"id":"e96c7d25.6ab15","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"test6.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":540,"wires":[["cda3bb36.adf378"]]},{"id":"65fd8ee3.434b7","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkt2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":380,"wires":[["cda3bb36.adf378"]]},{"id":"206ed117.c77a4e","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"test.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":500,"wires":[["cda3bb36.adf378"]]},{"id":"b002c36.8d10f4","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkt.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":340,"wires":[["cda3bb36.adf378"]]},{"id":"340a6a90.771e06","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkp.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":420,"wires":[["cda3bb36.adf378"]]},{"id":"aa889b9a.26fba8","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dka.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":300,"wires":[["cda3bb36.adf378"]]},{"id":"534d4915.571608","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkp2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":580,"wires":[["cda3bb36.adf378"]]},{"id":"cda3bb36.adf378","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":440,"wires":[["585e298e.08cba8","7557dd51.cd5d84"]]},{"id":"585e298e.08cba8","type":"function","z":"b4e71472.7cb4d8","name":"Time Filter X Days","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":600,"wires":[["f69f5e20.0d963"]]},{"id":"f69f5e20.0d963","type":"function","z":"b4e71472.7cb4d8","name":"Build two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"Lacuna received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend5 = \"ls2C\";\n\n// variables to be used to \nvar i, data1, data2;\nvar x = msg.payload.x;\nvar y = msg.payload.y;\nvar r = msg.payload.r;\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 = flow.get('data1')||'';\nvar data2 = flow.get('data2')||'';\nvar data5 = flow.get('data5')||'';\n\n\nif (msg.payload.sat == '2') {\n\ndata1 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n// this line removes the last comma to end the dataset\n}\ndata1 = data1.replace(/^(.*),(.*?)$/, '$1')\n\nif (msg.payload.sat == '1') {\n// for dataset #2\ndata2 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n\n// this line removes the last comma to end the dataset\n}\ndata2 = data2.replace(/^(.*),(.*?)$/, '$1')\n\nif (msg.payload.sat == '3') {\n// for dataset #5\ndata5 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n\n// this line removes the last comma to end the dataset\n}\ndata5 = data5.replace(/^(.*),(.*?)$/, '$1')\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n                \"legend2\" : legend2,\n                \"data2\"   : data2,\n                \"legend5\" : legend5,\n                \"data5\"   : data5\n};\ndata1 += \",\";\ndata2 += \",\";\ndata5 += \",\";\n\nflow.set([\"data1\", \"data2\", \"data5\"], [data1, data2,data5]);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":600,"wires":[["ae0460bf.a5e378"]]},{"id":"aa011c18.69605","type":"template","z":"b4e71472.7cb4d8","name":"Create the msg.template to use","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart\" width=\"1\" height=\"1\" style=\"border:1px solid #FF0000;\"></canvas>\n\n<script>\nvar linecolors = ['#FFFFFF','#889900']\nvar textcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-widgetTextColor');\nvar gridcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-groupBorderColor');\n\n\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 0, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        }, {\n          label: [\"{{{payload.legend2}}}\"], \n          backgroundColor: \"rgba(0, 255, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n              {{{payload.data2}}}\n\t\t  ]\n        }, {\n            label: [\"{{{payload.legend5}}}\"], \n          backgroundColor: \"rgba(255, 255, 0, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n              {{{payload.data5}}}\n\t\t  ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n        title: {\n        display: true,\n        fontColor: 'rgb(255, 255, 255)',\n        text: '{{{payload.title}}}'\n      }, \n      scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"RSSI (dBm)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'left-y-axis',\n                    type: 'linear',\n                    position: 'left',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"Elevation (°)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'bottom-x-axis',\n                    type: 'linear',\n                    position: 'bottom',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n      }\n    }\n});\n\n    \n\n\n</script>\n","output":"str","x":410,"y":660,"wires":[["4dd6c514.b67bac"]]},{"id":"4dd6c514.b67bac","type":"ui_template","z":"b4e71472.7cb4d8","group":"ed68b86d.026b2","name":"RSSI vs Elevation X Days","order":1,"width":9,"height":9,"format":"Click on Button to plot","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":730,"y":660,"wires":[[]]},{"id":"142dae9.49d4751","type":"ui_template","z":"b4e71472.7cb4d8","d":true,"group":"","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,250,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n\n\n/*\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n*/\n\n\n/*\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n*/\n\n\n/*\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n*/\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n*/\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":360,"y":700,"wires":[["4dd6c514.b67bac"]]},{"id":"fe69d028.49a91","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":9,"width":4,"height":1,"passthru":false,"label":"DKP2 15cm 21dBm Booster","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":580,"wires":[["c3573998.611868"]]},{"id":"413e8a3a.85c6c4","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":2,"width":3,"height":1,"passthru":false,"label":"DKT 5cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["548edbf6.560aa4"]]},{"id":"66952ebe.d4d8e","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":5,"width":3,"height":1,"passthru":false,"label":"DKP 15cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":420,"wires":[["9de050a6.c8717"]]},{"id":"b1e64690.12b5c8","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":1,"width":3,"height":1,"passthru":false,"label":"DKA 0cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["6996461d.dce758"]]},{"id":"4444910e.1f063","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":8,"width":3,"height":1,"passthru":false,"label":"Test 15cm 21dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":500,"wires":[["3888f11b.80484e"]]},{"id":"c3573998.611868","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["534d4915.571608"]]},{"id":"e817d9ab.a14328","type":"ui_numeric","z":"b4e71472.7cb4d8","name":"nbd","label":"Trace on last X days","tooltip":"","group":"ed68b86d.026b2","order":2,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"nbd","format":"{{value}}","min":"1","max":"30","step":1,"x":120,"y":760,"wires":[["ec5c143.6cd82e8"]]},{"id":"ec5c143.6cd82e8","type":"function","z":"b4e71472.7cb4d8","name":"store nbd","func":"// variables to be used to \nvar nbd = msg.payload\n\n// store the value back\nflow.set('nbd',nbd);\n\nmsg.payload = {\n    nbd: nbd\n    };\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":760,"wires":[[]]},{"id":"f77d489b.0cc668","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":7,"width":3,"height":1,"passthru":false,"label":"Test6 15cm 21dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":540,"wires":[["2892ebd0.7469a4"]]},{"id":"bf358b3f.392038","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":3,"width":3,"height":1,"passthru":false,"label":"DKT2 10cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":380,"wires":[["33bb90b0.cc7c3"]]},{"id":"b6f1eef2.811b3","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dka2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":460,"wires":[["cda3bb36.adf378"]]},{"id":"e3b9cae1.43e0a8","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":6,"width":3,"height":1,"passthru":false,"label":"DKA2 20cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":460,"wires":[["f65bee0a.b4fd2"]]},{"id":"ae0460bf.a5e378","type":"trigger","z":"b4e71472.7cb4d8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":160,"y":660,"wires":[["aa011c18.69605","142dae9.49d4751"]]},{"id":"7557dd51.cd5d84","type":"function","z":"b4e71472.7cb4d8","name":"Time Filter 12H","func":"var now = ( new Date() ).getTime();\nvar nbh = flow.get('nbh')||'';\nif (nbh < 1) { nbh = 1}\n\nvar yesterday = new Date();\nyesterday.setHours(yesterday.getHours() -nbh);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["9b75cd9.e1cab3"]]},{"id":"9b75cd9.e1cab3","type":"function","z":"b4e71472.7cb4d8","name":"Build two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"Lacuna received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\nvar x = msg.payload.x;\nvar y = msg.payload.y;\nvar r = msg.payload.r;\n\n// initialise the counter to 0 if it doesn't exist already\nvar data3 = flow.get('data3')||'';\nvar data4 = flow.get('data4')||'';\nvar data6 = flow.get('data6')||'';\n\n\nif (msg.payload.sat == '2') {\n\ndata3 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n// this line removes the last comma to end the dataset\n}\ndata3 = data3.replace(/^(.*),(.*?)$/, '$1')\n\nif (msg.payload.sat == '1') {\n// for dataset #2\ndata4 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n\n// this line removes the last comma to end the dataset\n}\ndata4 = data4.replace(/^(.*),(.*?)$/, '$1')\n\nif (msg.payload.sat == '3') {\n\ndata6 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n// this line removes the last comma to end the dataset\n}\ndata6 = data6.replace(/^(.*),(.*?)$/, '$1')\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data3\"   : data3,\n                \"legend2\" : legend2,\n                \"data4\"   : data4,\n                \"legend3\" : legend3,\n                \"data6\"   : data6};\ndata3 += \",\";\ndata4 += \",\";\ndata6 += \",\";\n\nflow.set([\"data3\", \"data4\", \"data6\"], [data3, data4, data6]);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":540,"wires":[["a66b2204.82887"]]},{"id":"86a62f8c.da7d2","type":"template","z":"b4e71472.7cb4d8","name":"Create the msg.template to use","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart2\" width=\"1\" height=\"1\" style=\"border:1px solid #FF0000;\"></canvas>\n\n<script>\nvar linecolors = ['#FFFFFF','#889900']\nvar textcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-widgetTextColor');\nvar gridcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-groupBorderColor');\n\n\nnew Chart(document.getElementById(\"bubble-chart2\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 0, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data3}}}\n\n          ]\n        }, {\n          label: [\"{{{payload.legend2}}}\"], \n          backgroundColor: \"rgba(0, 255, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n              {{{payload.data4}}}\n\t\t  ]\n        }, {\n            label: [\"{{{payload.legend5}}}\"], \n          backgroundColor: \"rgba(255, 255, 0, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n              {{{payload.data6}}}\n\t\t  ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n        title: {\n        display: true,\n        fontColor: 'rgb(255, 255, 255)',\n        text: '{{{payload.title}}}'\n      }, \n      scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"RSSI (dBm)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'left-y-axis',\n                    type: 'linear',\n                    position: 'left',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"Elevation (°)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'bottom-x-axis',\n                    type: 'linear',\n                    position: 'bottom',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n      }\n    }\n});\n\n\n</script>\n","output":"str","x":870,"y":740,"wires":[["1524d9e.aa3c526","3730c76a.0955b8"]]},{"id":"1524d9e.aa3c526","type":"ui_template","z":"b4e71472.7cb4d8","group":"37e56c.4066da94","name":"RSSI vs Elevation XH","order":1,"width":9,"height":9,"format":"Click on Button to plot","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1160,"y":780,"wires":[[]]},{"id":"a52d4446.0d9e08","type":"ui_template","z":"b4e71472.7cb4d8","d":true,"group":"","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,250,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n\n\n/*\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n*/\n\n\n/*\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n*/\n\n\n/*\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n*/\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n*/\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":820,"y":780,"wires":[["1524d9e.aa3c526"]]},{"id":"a66b2204.82887","type":"trigger","z":"b4e71472.7cb4d8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":740,"wires":[["86a62f8c.da7d2","a52d4446.0d9e08"]]},{"id":"3888f11b.80484e","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["206ed117.c77a4e"]]},{"id":"f65bee0a.b4fd2","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["b6f1eef2.811b3"]]},{"id":"9de050a6.c8717","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["340a6a90.771e06"]]},{"id":"33bb90b0.cc7c3","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["65fd8ee3.434b7"]]},{"id":"548edbf6.560aa4","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["b002c36.8d10f4"]]},{"id":"6996461d.dce758","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["aa889b9a.26fba8"]]},{"id":"2892ebd0.7469a4","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["e96c7d25.6ab15"]]},{"id":"cf8d407c.f2e9f","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"test5.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":260,"wires":[["cda3bb36.adf378"]]},{"id":"af8dbb8a.6d8d38","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"5f882d00.84ba84","order":4,"width":3,"height":1,"passthru":false,"label":"Test5 10cm 18dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["eefc7d1e.0a71"]]},{"id":"eefc7d1e.0a71","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\nvar legend3 = \"ls2C\";\n\n// variables to be used to \nvar i;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\nvar data3 ;\nvar data4 ;\nvar data5 ;\nvar data6 ;\n\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata3 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata4 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\ndata5 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata6 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nflow.set([\"data3\", \"data4\"], [data3, data4]);\nflow.set([\"data5\", \"data6\"], [data5, data6]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["cf8d407c.f2e9f"]]},{"id":"59de0073.fc453","type":"ui_numeric","z":"b4e71472.7cb4d8","name":"nbh","label":"Trace on last X hours","tooltip":"","group":"37e56c.4066da94","order":2,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"nbh","format":"{{value}}","min":"1","max":"30","step":1,"x":110,"y":840,"wires":[["81f6a606.878b88"]]},{"id":"81f6a606.878b88","type":"function","z":"b4e71472.7cb4d8","name":"store nbd","func":"// variables to be used to \nvar nbh = msg.payload\n\n// store the value back\nflow.set('nbh',nbh);\n\nmsg.payload = {\n    nbh: nbh\n    };\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":840,"wires":[[]]},{"id":"3730c76a.0955b8","type":"debug","z":"b4e71472.7cb4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":420,"wires":[]},{"id":"ed68b86d.026b2","type":"ui_group","name":"Lacuna Last X days received packets","tab":"e3dac379.89ee3","order":3,"disp":true,"width":"9","collapse":false},{"id":"5f882d00.84ba84","type":"ui_group","name":"Button","tab":"e3dac379.89ee3","order":1,"disp":true,"width":"4","collapse":false},{"id":"37e56c.4066da94","type":"ui_group","name":"Lacuna Last X hours received packets","tab":"e3dac379.89ee3","order":2,"disp":true,"width":"9","collapse":false},{"id":"e3dac379.89ee3","type":"ui_tab","name":"Lacuna Received Packet Dashboard","icon":"dashboard","disabled":false,"hidden":false}]