IOT4SPACE.json
[{"id":"e23f3520.8001b8","type":"tab","label":"IOT4SPACE","disabled":false,"info":""},{"id":"8201867a.51e708","type":"exec","z":"e23f3520.8001b8","command":"python3 lsx_write_auto.py test5.txt test5.csv","addpay":false,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Python Program","x":600,"y":260,"wires":[["b024aaf1.74a4a8"],["b024aaf1.74a4a8"],["b024aaf1.74a4a8"]]},{"id":"1fefd339.d98ffd","type":"inject","z":"e23f3520.8001b8","name":"Process data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":260,"wires":[["8201867a.51e708"]]},{"id":"b024aaf1.74a4a8","type":"debug","z":"e23f3520.8001b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":260,"wires":[]},{"id":"f5464c53.8bc19","type":"function","z":"e23f3520.8001b8","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nvar gw_id = 0;\nvar rssi = 0;\nvar snr = [];\nvar gw_lat = [];\nvar gw_lon = [];\nvar gw_alt = [];\nvar timestamp = [];\nvar counter = 0;\nvar sat = 0;\nvar time= gatewaysarray[0].time;\nif(msg.payload_fields.lacuna_sat == 0){\n  time= msg.metadata.time;  \n}\n\n\n//for (i = 0; i < gatewaysarray.length; i++){\ni=0;\n\n\ncounter = msg.counter;\nsat = msg.payload_fields.lacuna_sat;\ngw_id = gatewaysarray[i].gtw_id;\nrssi= gatewaysarray[i].rssi;\nsnr[i] = gatewaysarray[i].snr;\ngw_lat[i] = gatewaysarray[i].latitude;\ngw_lon[i] = gatewaysarray[i].longitude;\ngw_alt[i] = gatewaysarray[i].altitude;\ntimestamp[i]= gatewaysarray[i].timestamp;\nlogMsgs[i]=({payload: {time: time, \n                            counter:counter,\n                           gtw_id: gw_id,\n                           rssi: rssi,\n                           sat:sat\n                            }\n                 });\n   //}\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["8c411781.ee90e8","314e9dd5.c34b82"]]},{"id":"8c411781.ee90e8","type":"csv","z":"e23f3520.8001b8","name":"To CSV","sep":"\\t","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,counter,gtw_id,rssi, sat","skip":0,"strings":true,"include_empty_strings":false,"include_null_values":false,"x":640,"y":160,"wires":[["88dab3e4.32ce7"]]},{"id":"88dab3e4.32ce7","type":"file","z":"e23f3520.8001b8","name":"","filename":"test5.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":782,"y":158,"wires":[[]]},{"id":"53ee0eaf.97633","type":"ttn uplink","z":"e23f3520.8001b8","name":"Lacuna_test","app":"7f2c2bf1.26f3e4","dev_id":"test5","field":"","x":230,"y":80,"wires":[["f5464c53.8bc19","b9788ec8.c45c2"]]},{"id":"314e9dd5.c34b82","type":"debug","z":"e23f3520.8001b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":80,"wires":[]},{"id":"69727e34.74c53","type":"comment","z":"e23f3520.8001b8","name":"Configure your TTN node","info":"","x":230,"y":40,"wires":[]},{"id":"30808010.55ded","type":"comment","z":"e23f3520.8001b8","name":"Calculate coordinate with python script","info":"","x":270,"y":220,"wires":[]},{"id":"94f10846.20af28","type":"comment","z":"e23f3520.8001b8","name":"Read and plot data","info":"","x":210,"y":300,"wires":[]},{"id":"429be0e4.15627","type":"file in","z":"e23f3520.8001b8","name":"Read CSV","filename":"test5.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":360,"wires":[["e4dc939e.6a86a"]]},{"id":"83a61709.ae6bf8","type":"debug","z":"e23f3520.8001b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":360,"wires":[]},{"id":"8208b686.e83ae8","type":"function","z":"e23f3520.8001b8","name":"Format JSON","func":"//var result = msg.payload.lat.replace(/[\\s()-]+/gi,'');\n\nvar color = \"#1E90FF\";\nvar sat = \"LS1\"\nvar icon = 'fa-square-o'\nvar hide = {\"hidelayer\" : msg.payload.Day}\n\nif(msg.vis == '1') {\nhide = {\"showlayer\" : msg.payload.Day}\n}\n\nif (msg.payload.RSSI > -140)\n{color = \"#00ffcc\";}\nif (msg.payload.RSSI > -133)\n{color = \"#8cff00\";}\nif (msg.payload.RSSI > -128)\n{color = \"#ffcc00\";}\nif (msg.payload.RSSI > -123)\n{color = \"#FF0000\";}\n\nif(msg.payload.sat == 2)\n{sat = \"LS2D\"\nicon = 'fa-stop-circle'    \n    \n}\n\n\nreturn {payload: {  command : hide,\n                    name: msg.payload.Time,\n                    lat: msg.payload.Latitude,\n                    lon: msg.payload.Longitude,\n                    layer: msg.payload.Day,\n                    color: \"#000000\",\n                    icon: icon,\n                    iconColor : color,\n                    elevation : parseFloat(msg.payload.Elevation).toFixed(2),\n                    Azymuth : parseFloat(msg.payload.Azymuth).toFixed(2),\n                    range : parseFloat(msg.payload.Range/1000).toFixed(1),\n                    rssi : msg.payload.RSSI,\n                    sat : sat\n                           }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":360,"wires":[["a9f38151.104cd"]]},{"id":"a9f38151.104cd","type":"worldmap","z":"e23f3520.8001b8","name":"TTN Map","lat":"43.71","lon":"7.2656","zoom":"5","layer":"Esri Dark Grey","cluster":"0","maxage":"0","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"/Worldmap","x":1080,"y":400,"wires":[]},{"id":"e4dc939e.6a86a","type":"csv","z":"e23f3520.8001b8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":360,"wires":[["8208b686.e83ae8","571d6e1c.1be93"]]},{"id":"94402fb3.49f77","type":"function","z":"e23f3520.8001b8","name":"Format JSON","func":"//Plot my adress\nlegend = {\"legend\":\"<b>RSSI Level</b></br><i style=\\\"background: #FF0000\\\"></i> > -123<br><i style=\\\"background: #FFcc00\\\"></i> -123> x > -128 <br><i style=\\\"background: #8cff00\\\"></i> -128> x > -133 <br><i style=\\\"background: #00ffcc\\\"></i> <-133 <br>\", \"button\": { \"name\":\"Show all pass\", \"icon\": \"fa-star\", \"position\":\"topright\" }}\n\n\n\nreturn {payload: {   name: \"Home\",\n                    lat: 43.58,\n                    lon: 7.12,\n                    icon: 'home',\n                    layer: 'home',\n                    iconColor : \"#FF0000\",\n                    rssi : \"test\",\n                    command : legend\n                    }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"initialize":"//Plot my adress\n\n\n\nreturn {payload: {   name: \"Home\",\n                    lat: 43.58,\n                    lon: 7.12,\n                    icon: 'home',\n                    layer: 'home',\n                    iconColor : \"#FF0000\",\n                    rssi : \"test\"\n                           }\n                 };\n                 \n  \n  ","finalize":"","x":660,"y":400,"wires":[["a9f38151.104cd"]]},{"id":"571d6e1c.1be93","type":"function","z":"e23f3520.8001b8","name":"Format JSON","func":"var now = new Date().toLocaleString(\"en-GB\");\n\nif (Number((msg.payload.Time)) > Number(now)){\n\n\nreturn {payload: {   name: msg.payload.Time,\n                    lat: msg.payload.Latitude,\n                    lon: msg.payload.Longitude,\n                    color: \"#000000\",\n                    icon: 'fa-stop-circle',\n                    iconColor : color,\n                    elevation : parseFloat(msg.payload.Elevation).toFixed(2),\n                    Azymuth : parseFloat(msg.payload.Azymuth).toFixed(2),\n                    range : parseFloat(msg.payload.Range/1000).toFixed(1),\n                    rssi : msg.payload.RSSI\n                           }\n                 };\n                 \n  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":320,"wires":[["83a61709.ae6bf8"]]},{"id":"fd4b4246.7f6f1","type":"debug","z":"e23f3520.8001b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":420,"wires":[]},{"id":"3b7d9d23.1c4b32","type":"worldmap in","z":"e23f3520.8001b8","name":"","path":"/Worldmap","events":"all","x":180,"y":360,"wires":[["b95a6aff.2052a8","fd4b4246.7f6f1"]]},{"id":"b95a6aff.2052a8","type":"switch","z":"e23f3520.8001b8","name":"connection trigger","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":360,"wires":[["429be0e4.15627","94402fb3.49f77"],["ba61562c.bed4a8"]]},{"id":"becd7e11.60b02","type":"inject","z":"e23f3520.8001b8","name":"","props":[{"p":"payload.command","v":"{ \"button\": { \"name\":\"My Fancy Button\", \"icon\": \"fa-star\", \"position\":\"topright\" } }","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":440,"wires":[["a9f38151.104cd"]]},{"id":"b9788ec8.c45c2","type":"switch","z":"e23f3520.8001b8","name":"Trigger if Sat packets received","property":"payload_fields.lacuna_sat","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":120,"wires":[["f817abec.92c9c8"]]},{"id":"f817abec.92c9c8","type":"trigger","z":"e23f3520.8001b8","name":"","op1":"","op2":"New messages","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":180,"wires":[["8201867a.51e708"]]},{"id":"bec9a213.06a76","type":"http request","z":"e23f3520.8001b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://celestrak.com/satcat/tle.php?CATNR=44109","tls":"","persist":false,"proxy":"","authType":"","x":275,"y":540,"wires":[["29a92945.bab376","c100b8be.1ceb28"]],"l":false},{"id":"8ab96364.6f79","type":"inject","z":"e23f3520.8001b8","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":195,"y":540,"wires":[["bec9a213.06a76"]],"l":false},{"id":"b8bbb57e.47bf98","type":"comment","z":"e23f3520.8001b8","name":"Store TLE every day","info":"","x":230,"y":480,"wires":[]},{"id":"73bb491e.8dd9b8","type":"file","z":"e23f3520.8001b8","name":"","filename":"LS1_TLE.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":680,"y":560,"wires":[[]]},{"id":"b6472bf1.0a1278","type":"json","z":"e23f3520.8001b8","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":600,"wires":[["73bb491e.8dd9b8"]]},{"id":"29a92945.bab376","type":"change","z":"e23f3520.8001b8","name":"Now","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":540,"wires":[["73bb491e.8dd9b8"]]},{"id":"c100b8be.1ceb28","type":"delay","z":"e23f3520.8001b8","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":580,"wires":[["b6472bf1.0a1278"]]},{"id":"975fa038.008ed","type":"http request","z":"e23f3520.8001b8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://celestrak.com/satcat/tle.php?CATNR=46492","tls":"","persist":false,"proxy":"","authType":"","x":275,"y":660,"wires":[["acef7b50.2922e8","4c38450c.7b4f3c"]],"l":false},{"id":"abcdc2b4.9cfc9","type":"inject","z":"e23f3520.8001b8","name":"test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":195,"y":660,"wires":[["975fa038.008ed"]],"l":false},{"id":"6e30eea5.d6f39","type":"file","z":"e23f3520.8001b8","name":"","filename":"LS2D_TLE.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":700,"y":680,"wires":[[]]},{"id":"65349942.2e7ac8","type":"json","z":"e23f3520.8001b8","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":720,"wires":[["6e30eea5.d6f39","9cc16dda.91d2f"]]},{"id":"acef7b50.2922e8","type":"change","z":"e23f3520.8001b8","name":"Now","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":660,"wires":[["6e30eea5.d6f39"]]},{"id":"4c38450c.7b4f3c","type":"delay","z":"e23f3520.8001b8","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":720,"wires":[["65349942.2e7ac8"]]},{"id":"b45d88cc.23fc88","type":"ttn uplink","z":"e23f3520.8001b8","name":"","app":"7f2c2bf1.26f3e4","dev_id":"iot","field":"","x":1060,"y":480,"wires":[["4dc66baf.ad4684"]]},{"id":"d9527f80.7f893","type":"ttn downlink","z":"e23f3520.8001b8","name":"","app":"7f2c2bf1.26f3e4","dev_id":"iot","port":"1","confirmed":false,"schedule":"replace","x":1070,"y":560,"wires":[]},{"id":"4dc66baf.ad4684","type":"function","z":"e23f3520.8001b8","name":"","func":"\nvar data = new Buffer(\"31203436343932552032303036384720202032303333322e383434373730303420202e3030303031343234202030303030302d30202031303834382d33203020203939393032203436343932202039372e36373333203236352e383036392030303139373030202034302e31353838203332302e313133352031352e3033353232363739202039303439\", \"hex\");\n\nvar msg = { \n\"eui\": \"50FF1ADA5A561338\",\n\"payload\": data\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":560,"wires":[["d9527f80.7f893"]]},{"id":"9cc16dda.91d2f","type":"debug","z":"e23f3520.8001b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]},{"id":"ba61562c.bed4a8","type":"function","z":"e23f3520.8001b8","name":"Show layers","func":"msg.vis = '1';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":440,"wires":[["429be0e4.15627"]]},{"id":"7f2c2bf1.26f3e4","type":"ttn app","appId":"ph0wn","accessKey":"ttn-account-v2.yTbE4m7S7rR7vDrRK7fEBtaL4GTN5ucffn02NT2VgC8","discovery":"discovery.thethingsnetwork.org:1900"}]